<header class="w-full">
  <section class="w-full h-full flex items-center justify-between">
    <div class="flex items-center">
      @if (hasBackButton()) {
        <button mat-icon-button (click)="navigateBack()">
          <mat-icon>navigate_before</mat-icon>
        </button>
      }
      <mat-icon class="mr-2 title-icon">{{ titleIcon() }}</mat-icon>
      <h2 class="text-2xl font-bold text-[#78859c]">{{ title() }}</h2>
    </div>
    <div class="flex items-center">
      <span class="mx-4 text-right">
        <p class="text-xl font-bold text-[#78859c]">{{ fullName }}</p>

        <p class="text-lg text-[#636872] font-base">
          {{
            customerCompany
              ? customerCompany
              : managerDepartment
                ? managerDepartment
                : (currentUser()?.role | role)
          }}
        </p>
      </span>
      <div class="h-18 w-18 flex items-center justify-center rounded-full bg-[#193f83]">
        <span class="text-3xl font-medium text-[#ffffff]">{{
          currentUser()?.firstName?.charAt(0) + '' + currentUser()?.lastName?.charAt(0)
        }}</span>
      </div>
    </div>
  </section>
</header>
