<div class="w-full h-full grid grid-cols-2 grid-rows-[8%_10%_auto_15%] gap-x-6 gap-y-6">
  <section class="w-full row-start-1 col-span-2 border-b border-[#78859c]">
    <h2 class="font-medium text-3xl text-[#636872]">
      Welcome back, {{ currentUser()?.firstName }}!
    </h2>
  </section>

  <section class="w-full row-start-2 col-span-2">
    <table class="w-full h-full border-collapse">
      <tbody>
        <tr>
          @for (card of dashboardCards(); track card) {
            <td class="px-8 h-full border-r border-l border-[#78859c]">
              <div class="flex items-center justify-between h-full">
                <h4 class="text-lg font-medium text-[#636872]">
                  {{ card.label | titlecase }}
                </h4>
                <p
                  class="text-xl font-semibold text-[#78859c]"
                  [ngClass]="{
                    'text-[#c0392b]!':
                      card.value > 0 &&
                      (card.label === 'high priority' || card.label === 'overdue'),
                    'text-[#30a21e]!': card.value > 0 && card.label === 'resolved tickets',
                  }"
                >
                  {{ card.value }}
                </p>
              </div>
            </td>
          }
        </tr>
      </tbody>
    </table>
  </section>

  @if (widgetTitle()) {
    <section class="row-start-3 shadow-md">
      <app-dashboard-card [title]="widgetTitle()!">
        @if (currentUser()?.role === userRole.ADMIN) {
          @for (department of departmentList(); track department) {
            <div class="flex items-center justify-between">
              <h4 class="text-base font-medium text-[#636872]">
                {{ department | titlecase }}
              </h4>

              <p class="text-lg font-semibold text-[#78859c]">
                {{ getTicketsByDepartment(department) }}
              </p>
            </div>
          }
        }

        @if (currentUser()?.role === userRole.MANAGER) {
          <div class="w-full h-75 flex flex-col overflow-y-auto">
            @if (notifications().length === 0) {
              <p class="text-base font-medium text-[#78859c]">You have 0 notifications.</p>
            }

            @for (notification of notifications(); track notification) {
              <button
                class="w-full text-base my-1 py-2 px-2 font-medium flex items-center rounded-sm text-[#78859c] hover:bg-[#78859c2c] hover:cursor-pointer"
                (click)="navigateToTicketDetails(notification.ticketId)"
              >
                <mat-icon
                  [ngClass]="{
                    'text-[#c0392b]!': notification.severity === 'danger',
                    'text-[#d4ac0d]!': notification.severity === 'warning',
                  }"
                >
                  {{ notification.severity === 'danger' ? 'error' : 'warning' }}
                </mat-icon>

                <span class="ml-2">
                  {{ notification.message }}
                </span>
              </button>
            }
          </div>
        }
      </app-dashboard-card>
    </section>
  }

  <section class="row-start-3 shadow-md">
    <app-dashboard-card [title]="'Recent Activities'"> </app-dashboard-card>
  </section>

  <section class="w-full h-full row-start-4">
    <header>
      <h2 class="text-lg font-medium text-[#636872']">Quick Actions</h2>
    </header>

    <div class="flex items-center gap-2 mt-4">
      @for (action of quickActions(); track action.label) {
        <app-button
          [label]="action.label"
          [icon]="action.icon"
          variant="outline"
          size="sm"
          (buttonClicked)="action.action()"
        />
      }
    </div>
  </section>
</div>
