.customers-list {
  width: 100%;
  table-layout: fixed;
  background-color: #ffffff;
  border: none;
}

.mat-column-company,
.mat-column-edit {
  text-align: center;
}

th {
  font-weight: bold;
  color: #636872;
  font-size: small;
}

td {
  color: #78859c;
}

.name-cell {
  font-weight: 500;
  color: #5e8fea;
  font-size: small;
}

.edit-button {
  color: #5e8fea;
}
