<div class="w-full h-full">
  @if (!isLoading()) {
    @if (selectedManager) {
      <section
        class="w-full mb-10 flex items-center justify-between h-1/5 border-b border-b-[#78859c]"
      >
        <div class="flex items-center">
          <div class="h-18 w-18 rounded-full bg-[#193f83]"></div>
          <span class="ml-4">
            <p class="text-xl font-semibold text-[#193f83]">
              {{ `${selectedManager.firstName} ${selectedManager.lastName}` }}
            </p>
            <p class="text-lg text-[#636872] font-base">{{ selectedManager.role | role }}</p>
          </span>
        </div>
        <button
          [disabled]="crudMode === CrudMode.EDIT"
          (click)="navigateToEditManager(selectedManager.id)"
          class="w-28 h-9 font-medium text-lg flex items-center justify-center text-white bg-[#2459b5] rounded-md cursor-pointer hover:bg-[#183d7e] focus:outline-none"
          [ngClass]="{
            'bg-[#2459b58c] hover:bg-[#2459b58c] hover:cursor-not-allowed':
              crudMode === CrudMode.EDIT,
          }"
        >
          <mat-icon class="mr-2">edit</mat-icon>
          Edit
        </button>
      </section>
    }

    <form [formGroup]="detailsForm" class="w-full h-3/5 grid grid-cols-2 gap-x-6 gap-y-6 mt-8">
      <div class="w-full">
        <label for="firstName" class="block mb-2 text-base font-medium text-[#78859c]">
          First Name
        </label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="block w-full h-12 px-3 py-2 text-base border rounded-lg shadow focus:outline-none focus:ring-1 focus:ring-[#183d7e] focus:bg-[#ededee]"
          [ngClass]="{
            'bg-[#78859c2c]': crudMode === CrudMode.READ,
            'border-0': crudMode === CrudMode.READ,
          }"
          placeholder="First Name"
          required
        />
      </div>

      <div class="w-full">
        <label for="lastName" class="block mb-2 text-base font-medium text-[#78859c]">
          Last Name
        </label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="block w-full h-12 px-3 py-2 text-base border rounded-lg shadow focus:outline-none focus:ring-1 focus:ring-[#183d7e] focus:bg-[#ededee]"
          [ngClass]="{
            'bg-[#78859c2c]': crudMode === CrudMode.READ,
            'border-0': crudMode === CrudMode.READ,
          }"
          placeholder="Last Name"
          required
        />
      </div>

      <div class="w-full">
        <label for="email" class="block mb-2 text-base font-medium text-[#78859c]"> Email </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="block w-full h-12 px-3 py-2 text-base border rounded-lg shadow focus:outline-none focus:ring-1 focus:ring-[#183d7e] focus:bg-[#ededee]"
          [ngClass]="{
            'bg-[#78859c2c]': crudMode === CrudMode.READ,
            'border-0': crudMode === CrudMode.READ,
          }"
          placeholder="Email"
          required
        />
      </div>

      <div class="w-full">
        <label for="department" class="block mb-2 text-base font-medium text-[#78859c]">
          Department
        </label>
        <input
          type="text"
          id="department"
          formControlName="department"
          class="block w-full h-12 px-3 py-2 text-base border rounded-lg shadow focus:outline-none focus:ring-1 focus:ring-[#183d7e] focus:bg-[#ededee]"
          [ngClass]="{
            'bg-[#78859c2c]': crudMode === CrudMode.READ,
            'border-0': crudMode === CrudMode.READ,
          }"
          placeholder="Department"
          required
        />
      </div>

      <div class="w-full">
        <label for="phone" class="block mb-2 text-base font-medium text-[#78859c]"
          >Phone Number</label
        >
        <input
          id="phone"
          formControlName="phone"
          class="block w-full h-12 px-3 py-2 text-base border rounded-lg shadow focus:outline-none focus:ring-1 focus:ring-[#183d7e] focus:bg-[#ededee]"
          [ngClass]="{
            'bg-[#78859c2c]': crudMode === CrudMode.READ,
            'border-0': crudMode === CrudMode.READ,
          }"
          [placeholder]="crudMode === CrudMode.READ ? '' : '+...'"
        />
      </div>
    </form>

    <section
      class="w-full flex items-center pt-6"
      [ngClass]="{
        'justify-between': crudMode === CrudMode.EDIT || crudMode === CrudMode.READ,
        'justify-end': crudMode === CrudMode.CREATE,
      }"
    >
      @if (crudMode === CrudMode.EDIT || crudMode === CrudMode.READ) {
        <button
          class="w-28 h-9 font-medium text-lg flex items-center justify-center text-white bg-[#c0392b] rounded-md cursor-pointer hover:bg-[#ab3326] focus:outline-none"
          (click)="deleteManager()"
        >
          <mat-icon class="mr-2">delete</mat-icon>
          Delete
        </button>
      }
      @if (crudMode === CrudMode.CREATE || crudMode === CrudMode.EDIT) {
        <div class="flex items-center">
          <button
            class="w-28 h-9 font-medium text-lg flex items-center justify-center text-[#2459b5cd] outline-1 outline-[#2459b5cd] rounded-md cursor-pointer hover:bg-[#2459b5cd] hover:text-white focus:outline-none"
            (click)="navigateToReadDetails()"
          >
            <mat-icon class="mr-2">cancel</mat-icon>
            Cancel
          </button>
          <button
            class="w-28 h-9 font-medium ml-2 text-lg flex items-center justify-center text-white rounded-md focus:outline-none"
            [disabled]="!detailsForm.valid"
            [ngClass]="
              detailsForm.valid
                ? 'bg-[#30a21e] hover:bg-[#2e951e] cursor-pointer'
                : 'bg-[#30a21e83] hover:bg-[#30a21e83] cursor-not-allowed'
            "
            (click)="saveManagerForm()"
          >
            <mat-icon class="mr-2">save</mat-icon>
            Save
          </button>
        </div>
      }
    </section>
  } @else {
    <div class="w-full h-3/4 flex justify-center items-center">
      <div class="loader"></div>
    </div>
  }
</div>
