<table mat-table class="table" [dataSource]="dataSource()">
  @for (column of displayedColumns(); track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        @switch (column) {
          @case ('assignedTo') {
            {{ 'assigned to' }}
          }
          @case ('customerId') {
            {{ 'created by' }}
          }
          @case ('createdAt') {
            {{ 'created at' }}
          }
          @case ('closedAt') {
            {{ 'closed at' }}
          }
          @case ('assignedAt') {
            {{ 'assigned at' }}
          }
          @case ('updatedAt') {
            {{ 'updated at' }}
          }
          @case ('resolutionTime') {
            {{ 'resolution time' }}
          }
          @default {
            {{ column }}
          }
        }
      </th>
      <td mat-cell [class]="`${column}-cell`" *matCellDef="let element">
        @switch (column) {
          @case ('name') {
            <span class="font-medium text-[#5e8fea]">
              {{ element['firstName'] + ' ' + element['lastName'] | titlecase }}
            </span>
          }
          @case ('email') {
            <span>
              {{ element['email'] }}
            </span>
          }
          @case ('code') {
            <span class="font-medium text-[#5e8fea]">
              {{ element[column] | uppercase }}
            </span>
          }
          @case ('priority') {
            <span
              class="font-semibold"
              [ngClass]="{
                'text-[#636872]': element[column] === ticketPriority.LOW,
                'text-[#d4ac0d]': element[column] === ticketPriority.MEDIUM,
                'text-[#c0392b]': element[column] === ticketPriority.HIGH,
                'text-[#6c3483]': element[column] === ticketPriority.URGENT,
              }"
              >{{ element[column] | ticketPriority }}</span
            >
          }
          @case ('status') {
            <span
              [ngClass]="{
                'text-[#30a21e] font-semibold': element[column] === ticketStatus.RESOLVED,
              }"
            >
              {{ element[column] | ticketStatus }}
            </span>
          }
          @case ('assignedTo') {
            {{ element['assignedManagerId'] ? (element['assignedManagerId'] | manager) : 'None' }}
          }
          @case ('customerId') {
            {{ element[column] | customer }}
          }
          @case ('createdAt') {
            {{ element[column] | date: 'dd/MM/yy HH:mm' }}
          }
          @case ('closedAt') {
            {{ element[column] | date: 'dd/MM/yy HH:mm' }}
          }
          @case ('assignedAt') {
            {{ element[column] | date: 'dd/MM/yy HH:mm' }}
          }
          @case ('updatedAt') {
            {{ element[column] | date: 'dd/MM/yy HH:mm' }}
          }
          @case ('resolutionTime') {
            {{ getResolutionTime(element) }}
          }
          @case ('actions') {
            <span class="flex items-center z-50">
              @if (currentUser()?.role === userRole.MANAGER) {
                @if (!element['assignedManagerId']) {
                  <button
                    class="h-8 w-10 font-medium flex items-center justify-center text-white bg-[#5e8fea] rounded-md cursor-pointer hover:bg-[#183d7e] focus:outline-none"
                    matTooltip="Claim ticket"
                    (click)="onClaimTicket(element); $event.stopPropagation()"
                  >
                    <mat-icon>assignment_ind</mat-icon>
                  </button>
                }
                @if (element['assignedManagerId'] === currentUser()?.id) {
                  <button
                    class="h-8 w-10 font-medium text-white flex items-center justify-center bg-[#5e8fea] rounded-md cursor-pointer hover:bg-[#183d7e] focus:outline-none"
                    matTooltip="Change status"
                    #trigger="matMenuTrigger"
                    [matMenuTriggerFor]="statusMenu"
                    (click)="$event.stopPropagation()"
                  >
                    <mat-icon>sync_alt</mat-icon>
                  </button>
                  <mat-menu #statusMenu="matMenu">
                    @for (
                      status of statusOptions.filter(s => s !== 3 && s !== element['status']);
                      track status
                    ) {
                      <button
                        mat-menu-item
                        class="text-[#636872]!"
                        (click)="onChangeStatus(element, status, trigger); $event.stopPropagation()"
                      >
                        {{ status | ticketStatus }}
                      </button>
                    }
                  </mat-menu>
                }
              } @else {
                @if (element['status'] === ticketStatus.RESOLVED) {
                  <button
                    class="h-8 w-10 font-medium flex items-center justify-center text-white bg-[#30a21e] rounded-md cursor-pointer hover:bg-[#2e951e] focus:outline-none"
                    matTooltip="Close ticket"
                    (click)="onCloseTicket(element); $event.stopPropagation()"
                  >
                    <mat-icon>task_alt</mat-icon>
                  </button>
                }
              }
            </span>
          }
          @default {
            {{ element[column] | titlecase }}
          }
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
  <tr mat-row (click)="onSelectRow(row)" *matRowDef="let row; columns: displayedColumns()"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns().length">No data available.</td>
  </tr>
</table>
