<div class="w-full h-full flex bg-[#fcfcfa]">
  <section class="h-full w-1/6">
    <app-sidebar [currentUser]="user()" (logoutClicked)="onLogout()"></app-sidebar>
  </section>

  <main class="w-5/6 h-full flex flex-col justify-center px-8 pt-8">
    <section class="w-full h-1/8">
      <app-header [currentUser]="user()"></app-header>
    </section>
    <section class="w-full h-full mt-6 p-6 bg-[#ffffff] drop-shadow-sm rounded-t-sm">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
