.customers-list {
  width: 100%;
  table-layout: fixed;
  background-color: #ffffff;
  border: none;
}

.mat-column-department,
.mat-column-edit {
  text-align: center;
}

th {
  font-weight: bold;
  color: #636872;
  font-size: small;
}

td {
  color: #78859c;
}

.code-cell {
  font-weight: 500;
  color: #5e8fea;
  font-size: small;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  font-weight: 600;
}

.edit-button {
  color: #5e8fea;
}

.mat-mdc-no-data-row .mat-mdc-cell {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

::ng-deep .mdc-tab-indicator__content--underline {
  border-color: #5e8fea !important;
}

::ng-deep .mdc-tab__text-label {
  color: #636872 !important;
  font-size: 1rem;
  font-weight: 500;
}

.expansion-panel {
  --mat-expansion-header-indicator-color: #636872;
}
